<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Breweries serving MLB stadiums</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- bootstrap & Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <!--D3 cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>


    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand bg-info text-white ml-1 font-weight-bold p-2" href="brewery.html">Breweries Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active ">
                    <a class="nav-link" href="index.html">MLB Beer <span class="sr-only">()</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 jumbotron text-left">
                <div class="banner-text">
                    <h1>MLB Brewery </h1>
                    <p>Use the interactive map below to explore craft beer breweries serving MLB stadiums</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <a href="https://www.mlb.com/" target="_blank"><img class="img-fluid width:10% height:20%"
                        src="../static/images/mlb.png" alt="Responsive image"></a>
            </div>
        </div>
    </div>
    <!-- The div where we will inject our map -->

    <div class="col-md-12" id="map2">
    </div>
    <div id="footer">
        <p>Kurt Held, Andrew Frilot, Bing Tian, Tolu Olayemi <br>Rice Data Analytics Bootcamp &copy;2019</p>
    </div>

    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/config.js') }}"></script> -->
    <!-- Our JS -->

    <!-- <script type="text/javascript" src="../static/js/logic7.js"></script> -->
    <script type="text/javascript" src="../static/js/logic7b.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/logic7b.js') }}"></script> -->


</body>

</html>